{extends layout.latte}

{block title}Adresář osob{/block}

{block body}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Semestrální práce do APV</h1>
            <p class="lead">Stránka slouží pro zobrazení, vložení, úpravu a smazání osob z databáze.</p>
            <hr class="my-4">
            <p>Autor: Ondřej Šabrňák</p>
            <p>Semestr: ZS 2019/2020</p>
            <a class="btn btn-outline-primary btn-lg mt-3" href="{link osoby}" role="button">Zobrazit osoby</a>
        </div>
    </div>
{/block}