<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{$basePath}/img/favicon/site.webmanifest">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        // Menu active
        $(document).ready(function() {
            // get current URL path and assign 'active' class
            let pathname = window.location.pathname;
            $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
        })
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body class="pb-5">
<nav class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row pipe-navbar justify-md-content-between mb-4" id="nav">
    <a class="navbar-brand" href="{$basePath}"><img src="{$basePath}/img/favicon/favicon-32x32.png" class="d-inline-block align-top" /> ADRESÁŘ OSOB</a>
    <div class="navbar-nav-scroll ml-md-auto">
        <ul class="navbar-nav pipe-navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" href="{$basePath}/">DOMOV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link osoby}">OSOBY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link meetings}">SCHŮZKY</a>
            </li>
        </ul>
    </div>
</nav>
{include 'message.latte'}

{include body}
</body>
</html>