{extends layout.latte}

{block title}{$nadpis}{/block}

{block body}
    <div class="container">
        <div class="row mr-1">
            <div class="col-auto mr-auto">
                <h1>Schůzky</h1>
            </div>
            <div class="mt-2 .col-auto">
                <a href="{link schuzka_nova}" class="btn btn-warning">
                    <span class="h5 mr-2">Přidat schůzku</span>
                    <span class="fa fa-plus-circle"></span>
                </a>
            </div>
        </div>

        <table class="table table-stripped table-hover table-striped mt-4">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Začátek</th>
                <th>Trvání</th>
                <th>Popis</th>
                <th>Počet osob</th>
                <th colspan="2" class="text-center" style="width: 20%">Akce</th>
            </tr>
            </thead>

            {foreach $meetings as $meeting}
                <tr>
                    <td>{$meeting['date']|date:'%d. %m. %Y'}</td>
                    <td>{$meeting['time']}</td>
                    {if $meeting['duration']}
                        <td>{$meeting['duration']}</td>
                    {else}
                        <td>- - -</td>
                    {/if}
                    {if $meeting['description']}
                        <td>{$meeting['description']}</td>
                    {else}
                        <td>- - -</td>
                    {/if}
                    <td>{$meeting['pocet_osob']}</td>
                    <td class="text-center">
                        <a href="{link meeting_zobraz}?id_schuzky={$meeting['id_meeting']}"
                           class="btn-sm btn-outline-primary"><span class="fa fa-book-open"></span> Zobrazit
                        </a>
                    </td>
                    <!-- Delete button -->
                    <td class="text-center">
                        <a href="{link schuzka_smazat}?id_meeting={$meeting['id_meeting']}" onclick="return confirm('Opravdu chcete osobu smazat?')"
                           class="btn-sm btn-outline-danger"><span class="fa fa-trash-alt"></span> Smazat
                        </a>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}