{extends layout.latte}

{block title}{$nadpis}{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <span class="mb-2 h1">{$nadpis}</span>
            </div>
        </div>
        <hr>
        <form method="post">
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Datum: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="date" id="date" required placeholder="MM-DD-YYYY"">
                </div>
            </div>
            <div class="form-group row">
                <label for="time" class="col-sm-2 col-form-label">Začátek: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <input type="time" class="form-control" name="time" id="time" required placeholder="HH:MM"">
                </div>
            </div>
            <div class="form-group row">
                <label for="duration" class="col-sm-2 col-form-label">Trvání:</label>
                <div class="col-sm-10">
                    <input type="time" class="form-control" name="duration" id="duration" placeholder="HH:MM""">
                </div>
            </div>
            <div class="form-group row">
                <label for="time_zone" class="col-sm-2 col-form-label">Časové pásmo: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="time_zone" id="time_zone" required">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Popis:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="description"">
                </div>
            </div>
            <hr>
            <h4>Místo konání schůzky</h4>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="city" class="col-form-label">Město: <strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" name="city" id="city" required>
                </div>
                <div class="col-sm-4">
                    <label for="street_name" class="col-form-label">Ulice: <strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" name="street_name" id="street_name" required>
                </div>
                <div class="col-sm-4">
                    <label for="street_number" class="col-form-label">Číslo popisný: <strong class="text-danger">*</strong></label>
                    <input type="number" class="form-control" name="street_number" id="street_number" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="zip" class="col-form-label">PSČ: <strong class="text-danger">*</strong></label>
                    <input type="number" class="form-control" name="zip" id="zip" required>
                </div>
                <div class="col-sm-4">
                    <label for="country" class="col-form-label">Země: <strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" name="country" id="country" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <small id="HelpBlock" class="form-text text-muted">
                        Pole označeny <strong class="text-danger">*</strong> jsou povinné.
                    </small>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Potvrdit</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-2 mt-2">
                <a class="btn btn-warning" href="{link meetings}"><span class="fa fa-handshake"></span> Zobrazit schůzky</a>
            </div>
        </div>
    </div>
{/block}