<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="mb-2 h1">{$nadpis}</span>
        </div>
    </div>
    <hr>
    <form method="post">
        <div class="form-group row">
            <label for="first_name" class="col-sm-2 col-form-label">Jméno: <strong class="text-danger">*</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="first_name" id="first_name" required value="{$formData['first_name']}">
            </div>
        </div>
        <div class="form-group row">
            <label for="last_name" class="col-sm-2 col-form-label">Příjmení: <strong class="text-danger">*</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="last_name" id="last_name" required value="{$formData['last_name']}">
            </div>
        </div>
        <div class="form-group row">
            <label for="nickname" class="col-sm-2 col-form-label">Přezdívka: <strong class="text-danger">*</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nickname" id="nickname" required value="{$formData['nickname']}">
            </div>
        </div>
        <div class="form-group row">
            <label for="height" class="col-sm-2 col-form-label">Výška:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="height" id="height" value="{$formData['height']}">
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-2 col-form-label">Pohlaví: <strong class="text-danger">*</strong></label>
            <div class="col-sm-10">
                <select class="form-control" name="gender" id="gender">
                    <option value="male" {if $formData['gender']=='male'}selected{/if}>Muž</option>
                    <option value="female" {if $formData['gender']=='female'}selected{/if}>Žena</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="birth_day" class="col-sm-2 col-form-label">Datum narození:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="birth_day" id="birth_day" value="{$formData['birth_day']}" placeholder="MM-DD-YYYY">
            </div>
        </div>
        <hr>
        <h4>Bydliště</h4>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="city" class="col-form-label">Město:</label>
                <input type="text" class="form-control" name="city" id="city" value="{$formData['city']}">
            </div>
            <div class="col-sm-4">
                <label for="street_name" class="col-form-label">Ulice:</label>
                <input type="text" class="form-control" name="street_name" id="street_name"  value="{$formData['street_name']}">
            </div>
            <div class="col-sm-4">
                <label for="street_number" class="col-form-label">Číslo popisný:</label>
                <input type="number" class="form-control" name="street_number" id="street_number" value="{$formData['street_number']}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="zip" class="col-form-label">PSČ:</label>
                <input type="number" class="form-control" name="zip" id="zip" value="{$formData['zip']}">
            </div>
            <div class="col-sm-4">
                <label for="country" class="col-form-label">Země:</label>
                <input type="text" class="form-control" name="country" id="country" value="{$formData['country']}">
           </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <small id="HelpBlock" class="form-text text-muted">
                    Pole označeny <strong class="text-danger">*</strong> jsou povinné.
                </small>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Potvrdit</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2 mt-2">
            <a class="btn btn-warning" href="{link osoby}"><span class="fa fa-users"></span> Zobrazit osoby</a>
        </div>
    </div>
</div>