{extends layout.latte}

{block title}Osoby{/block}

{block body}
    <div class="container">
        <div class="row mr-1">
            <div class="col-auto mr-auto">
                <h1>Osoby</h1>
            </div>
            {if isset($zobrazeno)}
                <div class="mt-2 mr-4 .col-auto">
                    <a class="btn btn-outline-success" href="{$basePath}/osoby">
                        <span class="h5 mr-2">Zobrazit osoby</span>
                        <span class="fa fa-users"></span>
                    </a>
                </div>
            {/if}
            <div class="mt-2 mr-4 .col-auto">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#vyhledatOsobu">
                    <span class="h5 mr-2">Vyhledat osobu</span>
                    <span class="fa fa-search"></span>
                </button>
            </div>
            <div class="mt-2 .col-auto">
                <a href="{link osoba_nova}" class="btn btn-warning">
                    <span class="h5 mr-2">Přidat osobu</span>
                    <span class="fa fa-plus-circle"></span>
                </a>
            </div>
        </div>

        <!-- MODAL NA HLEDANI OSOB -->
        <div class="modal fade mt-5" id="vyhledatOsobu" tabindex="-1" role="dialog" aria-labelledby="vyhledatOsobuLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="vyhledatOsobuLabel">Vyhledat osobu</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{link vyhledat}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-2">
                                        <input class="form-control" type="text" name="hledaneSlovo" required placeholder="hledat">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        vyhledat podle:
                                    </small>
                                </div>
                            </div>
                            <div class="row mt-2 ml-1">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="hledatPodle" id="first_name" value="first_name" checked>
                                            <label class="form-check-label" for="first_name">
                                                Jméno
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="hledatPodle" id="last_name" value="last_name">
                                            <label class="form-check-label" for="last_name">
                                                Příjmení
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="hledatPodle" id="nickname" value="nickname">
                                            <label class="form-check-label" for="nickname">
                                                Přezdívka
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer mt-2">
                                <button type="submit" class="btn btn-warning">
                                    <span class="h5 mr-2">Vyhledat</span>
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <table class="table table-stripped table-hover table-striped">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Přezdívka</th>
                    <th>Pohlaví</th>
                    <th colspan="3" class="text-center" style="width: 30%">Akce</th>
                </tr>
            </thead>

            {foreach $osoby as $osoba}
                <tr>
                    <td>{$osoba['first_name']}</td>
                    <td>{$osoba['last_name']}</td>
                    <td>{$osoba['nickname']}</td>
                    <td>
                        {if $osoba['gender'] == 'male'}
                            Muž
                        {else}
                            Žena
                        {/if}
                    </td>
                    <td class="text-center">
                        <a href="{link osoba_zobraz}?id_person={$osoba['id_person']}"
                           class="btn-sm btn-outline-primary"><span class="fa fa-user"></span> Zobrazit
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{link osoba_uprav}?id_person={$osoba['id_person']}"
                           class="btn-sm btn-outline-success"><span class="fa fa-user-edit"></span> Upravit
                        </a>
                    </td>
                    <!-- Delete button -->
                    <td class="text-center">
                        <a href="{link osoba_smazat}?id_person={$osoba['id_person']}" onclick="return confirm('Opravdu chcete osobu smazat?')"
                           class="btn-sm btn-outline-danger"><span class="fa fa-trash-alt"></span> Smazat
                        </a>
                    </td>
                </tr>
            {/foreach}
        </table>
        {default $celkovyPocet = 0}
        {if $celkovyPocet > 0}
            <div class="row justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {if $strana == 0}disabled{/if}"><a class="page-link" href="{link osoby}?strana={$strana - 10}" {if $strana == 0}tabindex="-1"{/if}>Předchozí</a></li>
                        {for $i=0; $i < $celkovyPocet; $i++}
                            {if $i % 10 == 0}
                                <li class="page-item {if $strana == $i}active{/if}"><a class="page-link" href="{link osoby}?strana={$i}">{($i / 10 + 1)}</a></li>
                            {/if}
                        {/for}
                        <li class="page-item {if $strana > $celkovyPocet - 10}disabled{/if}"><a class="page-link " href="{link osoby}?strana={$strana + 10}" {if $strana > $celkovyPocet - 10}tabindex="-1"{/if}>Další</a></li>
                    </ul>
                </nav>
            </div>
        {/if}
    </div>
{/block}

