{extends layout.latte}

{block title}{$nadpis}{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <span class="mb-2 h1">{$nadpis}</span>
            </div>
        </div>
        <hr>
        <form method="post">
            <div class="form-group row">
                <label for="id_contact_type" class="col-sm-2 col-form-label">Typ: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <select class="form-control" name="id_contact_type" id="id_contact_type">
                        {foreach $contact_types as $contact_type}
                            <option value="{$contact_type['id_contact_type']}" id="id_contact_type">{$contact_type['name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="contact" class="col-sm-2 col-form-label">Kontakt: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="contact" id="contact" required value="{$formData['contact']}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <small id="HelpBlock" class="form-text text-muted">
                        Pole označeny <strong class="text-danger">*</strong> jsou povinné.
                    </small>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Přidat kontakt</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-2 mt-2">
                <a class="btn btn-warning" href="{link osoba_zobraz}?id_person={$id_person}"><span class="fa fa-arrow-left"></span> Zpět na osobu</a>
            </div>
        </div>
    </div>
{/block}