{extends layout.latte}

{block title}{$nadpis}{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="mb-2 h1">{$nadpis}</span>
            </div>
        </div>
        <hr>
        <form method="post">
            <div class="form-group row">
                <label for="id_person" class="col-sm-2 col-form-label">Osoba: <strong class="text-danger">*</strong></label>
                <div class="col-sm-10">
                    <select class="form-control" name="id_person" id="id_person">
                        {foreach $osoby as $osoba}
                            <option value="{$osoba['id_person']}" id="id_person">{$osoba['first_name']} {$osoba['last_name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <small id="HelpBlock" class="form-text text-muted">
                        Pole označeny <strong class="text-danger">*</strong> jsou povinné.
                    </small>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Přidat osobu</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-2 mt-2">
                <a class="btn btn-warning" href="{link meeting_zobraz}?id_schuzky={$id_meeting}"><span class="fa fa-arrow-left"></span> Zpět na schůzku</a>
            </div>
        </div>
    </div>
{/block}