{extends layout.latte}


{block title}Zobrazení osoby{/block}

{block body}
    <div class="container">
        <div class="row ml-1 mb-3">
            <span class="mb-2 h1 mr-5">{$formData['first_name']} {$formData['last_name']}</span>
            <div class="mt-2 mr-5 mb-2">
                <a class="btn btn-success" href="{link osoba_uprav}?id_person={$formData['id_person']}"><span class="fa fa-user-edit"></span> Upravit osobu</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table">
                    <tr>
                        <th class="h4">Základní informace</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{$formData['id_person']}</td>
                    </tr>
                    <tr>
                        <th>Přezdívka</th>
                        <td>{$formData['nickname']}</td>
                    </tr>
                    <tr>
                        <th>Datum narození</th>
                        {if $formData['birth_day']}
                            <td>{$formData['birth_day']|date:'%d. %m. %Y'}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Výška</th>
                        {if $formData['height']}
                            <td>{$formData['height']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Pohlaví</th>
                        <td>
                            {if $formData['gender'] == 'male'}
                                Muž
                            {else}
                                Žena
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th class="h4">Bydliště</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Město</th>
                        {if $location['city']}
                            <td>{$location['city']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Ulice</th>
                        {if $location['street_name']}
                            <td>{$location['street_name']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Číslo popisný</th>
                        {if $location['street_number']}
                            <td>{$location['street_number']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Země</th>
                        {if $location['country']}
                            <td>{$location['country']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th class="h4">Kontakt <a class="btn btn-warning btn-sm ml-3" href="{link kontakt_pridej}?id_person={$formData['id_person']}"><span class="fa fa-plus"></span></a></th>
                        <td></td>
                    </tr>
                    {if $contactData}
                        {foreach $contactData as $contact}
                            <tr>
                                <th>{$contact['name']}</th>
                                <td>
                                    {if ($contact['name'] == 'email')}
                                        <a href='mailto:{$contact['contact']}'>{$contact['contact']}</a>
                                    {elseif ($contact['name'] == 'tel')}
                                        <a href='tel:{$contact['contact']}'>{$contact['contact']}</a>
                                    {elseif ($contact['name'] == 'web')}
                                        <a href='http://{$contact['contact']}' target="_blank">{$contact['contact']}</a>
                                    {elseif ($contact['name'] == 'facebook')}
                                        <a href='https://www.facebook.com/{$contact['contact']}' target="_blank">{$contact['contact']}</a>
                                    {else}
                                        {$contact['contact']}
                                    {/if}
                                </td>
                                <td>
                                    <a href="{link kontakt_smaz}?id_contact={$contact['id_contact']}&id_person={$formData['id_person']}" class="btn btn-outline-danger btn-sm"><span class="fa fa-minus"></span></a>
                                </td>
                            </tr>
                        {/foreach}
                    {else}
                        <tr>
                            <td>Uživatel nemá žádný kontakt.</td>
                        </tr>
                    {/if}
                </table>
            </div>
        </div>
        <div class="row ml-1 mb-3">
            <div class="mt-2 mb-2">
                <a class="btn btn-warning" href="{link osoby}"><span class="fa fa-arrow-left"></span> Zpět na osoby</a>
            </div>
        </div>
    </div>
{/block}