{extends layout.latte}


{block title}Zobrazení Schůzky{/block}

{block body}
    <div class="container">
        <div class="row ml-1 mb-3">
            <span class="mb-2 h1 mr-5">Schůzka</span>
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table">
                    <tr>
                        <th class="h4">Základní informace</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{$meeting['id_meeting']}</td>
                    </tr>
                    <tr>
                        <th>Datum</th>
                        <td>{$meeting['date']|date:'%d. %m. %Y'}</td>
                    </tr>
                    <tr>
                        <th>Čas</th>
                        <td>{$meeting['time']}</td>
                    </tr>
                    <tr>
                        <th>Časové pásmo</th>
                        <td>{$meeting['time_zone']}</td>
                    </tr>
                    <tr>
                        <th>Trvání</th>
                        {if $meeting['duration']}
                            <td>{$meeting['duration']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Popis</th>
                        {if $meeting['description']}
                            <td>{$meeting['description']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th class="h4">Místo schůzky</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Město</th>
                        {if $meeting['city']}
                            <td>{$meeting['city']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Ulice</th>
                        {if $meeting['street_name']}
                            <td>{$meeting['street_name']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Číslo popisný</th>
                        {if $meeting['street_number']}
                            <td>{$meeting['street_number']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th>Země</th>
                        {if $meeting['country']}
                            <td>{$meeting['country']}</td>
                        {else}
                            <td>- - -</td>
                        {/if}
                    </tr>
                    <tr>
                        <th class="h4">Osoby <a class="btn btn-warning btn-sm ml-3" href="{link schuzka_osoba_pridej}?id_schuzka={$meeting['id_meeting']}"><span class="fa fa-plus"></span></a></th>
                        <td></td>
                    </tr>
                    {if $osoby}
                        {foreach $osoby as $osoba}
                            <tr>
                                <td>{$osoba['first_name']} {$osoba['last_name']}</td>
                                <td>
                                    <a href="{link schuzka_osoba_smaz}?id_schuzka={$meeting['id_meeting']}&id_person={$osoba['id_person']}" class="btn btn-outline-danger btn-sm"><span class="fa fa-minus"></span></a>
                                </td>
                            </tr>
                        {/foreach}
                    {else}
                        <tr>
                            <td>Schůzky se nikdo neúčastní.</td>
                        </tr>
                    {/if}
                </table>
            </div>
        </div>
        <div class="row ml-1 mb-3">
            <div class="mt-2 mb-2">
                <a class="btn btn-warning" href="{link meetings}"><span class="fa fa-arrow-left"></span> Zpět na schůzky</a>
            </div>
        </div>
    </div>
{/block}